@tailwind base;
@tailwind components;
@tailwind utilities;

/* main backgroud color */

.main-bg-color {
  background: linear-gradient(90deg, #c83b62 0.32%, #7f35cd 102.21%);
}

/* main text color */

.main-text-color {
  background: -webkit-linear-gradient(90deg, #c83b62 0.32%, #7f35cd 102.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* main border color */

.main-border-color {
  border-image-slice: 1;
  border: 2px solid transparent;
  border-image: linear-gradient(90deg, #c83b62 0.32%, #7f35cd 102.21%);
}

/* carousel animation start */
.animated-carousel {
  animation: 5s slide infinite linear;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

<<<<<<< HEAD
/* scroll modification */

.no-scrollbar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
=======
/* //Deal Of The Day */
.card-title-h2 {
  font-size: clamp(18px, 15vw, 24px);
>>>>>>> 0960f49c94a33e9a0cf7084b67f312808d76449d
}
